@font-face {
  font-family: WebFaktSoftPro;
  font-weight: 400;
  font-style: normal;
  src: url(https://kalohq.com/fonts/FaktSoftPro-Blond.woff) format('woff'),
    url(https://kalohq.com/fonts/FaktSoftPro-Blond.ttf) format('truetype');
}

@font-face {
  font-family: WebFaktSoftPro;
  font-weight: 500;
  font-style: normal;
  src: url(https://kalohq.com/fonts/FaktSoftPro-SemiBold.woff) format('woff'),
    url(https://kalohq.com/fonts/FaktSoftPro-SemiBold.ttf) format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  background: #374561;
  font-family: WebFaktSoftPro, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

div,
header,
section,
aside,
footer,
.box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;
}

header,
section {
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
}

header.pink,
section.pink {
  background: #ea5f6e;
  color: #fff;
}

header.navy,
section.navy,
footer.navy {
  background: #374561;
  color: #fff;
}

header.yellow,
section.yellow {
  background: #fdb81c;
  color: #fff;
}

header.purple,
section.purple {
  background: #8a70bd;
  color: #fff;
}

header.green,
section.green {
  background: #3eb38a;
  color: #fff;
}

header.blue,
section.blue {
  background: #54c3db;
  color: #fff;
}

.main-header {
  display: flex;
  align-items: center;
  text-align: center;
}

.meta {
  color: #93a6c1;
  font-size: 0.8em;
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
}

.logo {
  justify-content: center;
  flex: 5;
  padding: 40px 0;
}

.logo h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.presenter {
  position: absolute;
  bottom: 0;
  align-items: center;
  flex: 1;
  padding-bottom: 40px;
}

.presenter .meta {
  margin-bottom: 8px;
}

.content {
  padding: 10vh 0;
  width: 1080px;
}

.content p {
  max-width: 50%;
  font-weight: 100;
  line-height: 1.3em;
  margin: 0.5em 0;
}

.content.right {
  text-align: right;
  align-items: flex-end;
}

.content.center {
  text-align: center;
  align-items: center;
}

.button {
  height: 46px;
  padding: 12px 23px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
  text-decoration: none;
  text-align: center;
  transition: all 0.25s ease-in-out;
  font-family: WebFaktSoftPro, sans-serif;
  -webkit-appearance: none;
  line-height: 1.5em;
  cursor: pointer;
}

.pink .button {
  color: #ea5f6e;
}

.pink .button:hover {
  color: #fff;
  background: #ea5f6e;
  border-color: #fff;
}

.notes {
  font-family: 'Indie Flower', cursive;
  list-style: none;
  margin: 0;
  position: absolute;
  right: -10%;
  width: 50%;
  height: 100%;
  margin: -10vh 0;
}

.right .notes {
  right: auto;
  left: -10%;
}

.notes li {
  position: absolute;
  transform: translate(-50%, -50%);
}

.notes li:first-child {
  font-size: 2em;
  top: 50%;
  left: 50%;
}

.notes li:nth-child(2) {
  top: 35%;
  left: 30%;
}

.notes li:nth-child(3) {
  top: 30%;
  left: 70%;
}

.notes li:nth-child(4) {
  top: 47%;
  left: 85%;
}

.notes li:nth-child(5) {
  top: 75%;
  left: 65%;
}

.notes li:nth-child(6) {
  top: 70%;
  left: 30%;
}
